*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.clock{
    display:flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid white;
    background-color: red;
    height: 40px;
    width: 16%;
    margin: auto;
    padding: 10px;

    
}
.python{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid green;
    background-color: green;
    height: 50px;
    margin-left: 440px;
    margin-right: 440px;
    margin-bottom: 5px;
    padding: 8px;
    margin-top: 15px;
   
}
.pythonn{
    margin-top: 15px;
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid green;
    background-color: green;
    height: 140px;
    margin-left: 440px;
    margin-right: 440px;
    padding: 15px; 
    margin-bottom: 10px;
}
.javascript{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid yellow;
    background-color: yellow;
    height: 50px;
    margin-left: 440px;
    margin-right: 440px;
    margin-bottom: 5px;
    padding:8px; 
   
}
.javascriptt{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid yellow;
    background-color: yellow;
    height: 140px;
    margin-left: 440px;
    margin-right: 440px;
    padding: 15px; 
    margin-bottom: 10px;
}
.html{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid orangered;
    background-color: orangered;
    height: 50px;
    margin-left: 440px;
    margin-right: 440px;
    margin-bottom: 5px;
    padding:8px; 
   
}
.htmll{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid orangered;
    background-color: orangered;
    height: 140px;
    margin-left: 440px;
    margin-right: 440px;
    padding: 15px; 
    margin-bottom: 10px;
}
.react{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid orangered;
    background-color: orangered;
    height: 50px;
    margin-left: 440px;
    margin-right: 440px;
    margin-bottom: 5px;
    padding:8px; 
   
}
.reactt{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid orangered;
    background-color: orangered;
    height: 140px;
    margin-left: 440px;
    margin-right: 440px;
    padding: 15px; 
    margin-bottom: 10px;
}
.reactnative{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid orangered;
    background-color: orangered;
    height: 50px;
    margin-left: 440px;
    margin-right: 440px;
    margin-bottom: 5px;
    padding:8px; 
   
}
.reactnativee{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid orangered;
    background-color: orangered;
    height: 140px;
    margin-left: 440px;
    margin-right: 440px;
    padding: 15px; 
    margin-bottom: 10px;
}
.fullstack{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid orangered;
    background-color: orangered;
    height: 50px;
    margin-left: 440px;
    margin-right: 440px;
    margin-bottom: 5px;
    padding:8px; 
   
}
.fullstackk{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid orangered;
    background-color: orangered;
    height: 140px;
    margin-left: 440px;
    margin-right: 440px;
    padding: 15px; 
    margin-bottom: 10px;
}
.data{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid orangered;
    background-color: orangered;
    height: 50px;
    margin-left: 440px;
    margin-right: 440px;
    margin-bottom: 5px;
    padding:8px; 
   
}
.dataa{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid orangered;
    background-color: orangered;
    height: 140px;
    margin-left: 440px;
    margin-right: 440px;
    padding: 15px; 
    margin-bottom: 10px;
}
.machine{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid orangered;
    background-color: orangered;
    height: 50px;
    margin-left: 440px;
    margin-right: 440px;
    margin-bottom: 5px;
    padding:8px; 
   
}
.machinee{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid orangered;
    background-color: orangered;
    height: 140px;
    margin-left: 440px;
    margin-right: 440px;
    padding: 15px; 
    margin-bottom: 10px;
}
.flex{
    display: flex;
    justify-content:center;
    gap: 30px;
    margin-bottom: 30px;
}
.first{
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
    gap: 14px;
}
.second{
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
    gap: 14px;
}
.third{
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
    gap: 14px;
}

.fourth{
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
    gap: 14px;
}
.fifth{
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
    gap: 14px;
}